/* adverty */

/* 1 baner (top baner) */
#a1
{
    text-align: center;
    margin: 2px 0;
    overflow: hidden;
}

#a1 img 
{
    max-width: fit-content;
}

#a2
{
    margin: var(--gap20) 0;
}

#a3
{
    margin: 0 0 var(--gap20)
}

#a5
{
    margin: var(--gap20) 0
}

#a6
{
    margin: var(--gap20) 0;
    text-align: center;
}

#a7
{
    margin: var(--gap20) 0;
}

#a9
{
    margin: var(--gap20) 0;    
}

#a10
{
    margin: 0 0 var(--gap20);       
}