/* 
тимчасовий файлик з банерами
*/

/* 1 baner (top baner) не масштабується */
#a1
{
    text-align: center;
    margin: 2px 0;
    overflow: hidden;
    height: 90px;
}

#a1 img 
{
    max-width: none;
}

/*
цей банер не масштабується! 
*/
#a2
{
    margin: var(--gap20) 0;
    overflow: hidden;
}

#a2 img 
{
    max-width: none;
}

/*
цей банер не масштабується! 
*/
#a3
{
    margin: 0 0 var(--gap20);
    overflow: hidden;
}

#a3 img
{
    max-width: none;
}

#a5
{
    margin: var(--gap20) 0
}

/*
цей банер не масштабується! 
*/
#a6
{
    margin: var(--gap20) 0;
    text-align: center;
    overflow: hidden;
}

#a6 img 
{
    max-width: none;
}

#a7
{
    margin: var(--gap20) 0;
}

#a9
{
    margin: var(--gap20) 0;    
}

#a10
{
    margin: 0 0 var(--gap20);       
}