
/* 
модальне вікно додавання новини
*/
#add-news
{
    margin: var(--gap20) 0;
    background: #f5f5f5;
    padding: var(--gap80) var(--gap100);

    position: absolute;
    top: 0;
    left: calc(50% - 660px);
    width: 1320px;
    display: none;
    z-index: 5;
}

@media(max-width:1340px)
{
    #add-news
    {
        width: 95%;
        left: 2.5%;
    }
}

@media(max-width:776px)
{
    #add-news
    {
        padding: var(--gap20);
        /* height: 600px; */
        /* overflow: scroll; */
    }
}

#add-news.active
{
    display: block;
}

#add-news .title 
{
    color: var(--footer)!important;
}

/* 480 */
#add-news form
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap20) var(--gap30);
    grid-template-areas: 
        'add-news-name add-news-surname add-news-dad'
        'add-news-email add-news-checkbox add-news-checkbox'
        'add-news-comment add-news-comment add-news-comment'
        'add-news-code add-news-captcha add-news-submit';

}

/* 770 */
@media(max-width:776px)
{
    #add-news form
    {
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: 
            'add-news-name'
            'add-news-surname'
            'add-news-dad'
            'add-news-email'
            'add-news-checkbox'
            'add-news-comment'
            'add-news-code'
            'add-news-captcha'
            'add-news-submit';
    }
}

#add-news-name
{
    grid-area: add-news-name;
}

#add-news-surname
{
    grid-area: add-news-surname;
}

#add-news-dad
{
    grid-area: add-news-dad;
}

#add-news-email
{
    grid-area: add-news-email;
}

#add-news-checkbox
{
    grid-area: add-news-checkbox;
    align-self: center;
}

#add-news-comment
{
    grid-area: add-news-comment;
}

#add-news-code
{
    grid-area: add-news-code;
    align-self: center;
}

#add-news-captcha
{
    grid-area: add-news-captcha;
}

#add-news-submit
{
    grid-area: add-news-submit;
    justify-self: right;
    align-self: center;
}

@media(max-width:776px)
{
    #add-news-submit
    {
        /* grid-area: add-news-submit; */
        justify-self: left;
        /* align-self: center; */
    }    
}

#add-news p 
{
    margin: 0 0 var(--gap20);
}

