#adverty-search
{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: var(--gap20);
    width: 100%;
}
/* 
#adverty-search [type="search"]
{
    width: 100%;
    padding: var(--gap20);
    border: 1px solid var(--input);
    outline: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    height: 50px;
    transition: border .5s;
}

#adverty-search [type="search"]:focus 
{
    border-color: var(--media);
}

#adverty-search [type="submit"]
{
    background: var(--media);
    color: var(--body);
    cursor: pointer;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
}
 */
#adverty p 
{
    margin: var(--gap20) 0;

    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
}

#adverty-filter
{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr) 200px;
    gap: var(--gap20);
    margin: 0 0 var(--gap40)
}

#adverty-filter [type="submit"]
{
    background: var(--footer);
    /* color: var(--body);
    cursor: pointer;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    text-transform: uppercase;
    height: 50px; */
}

#adverty-filter [type="submit"]:hover 
{
  background: var(--media);
}

#adverty-filter label
{
    display: flex;
    align-items: center;
    gap: var(--gap20)
}

select
{

    width: 100%;
    background-color: var(--body);
    border: thin solid var(--input);
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: var(--gap10) var(--gap20);
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}
  
select:focus
{
    background-image:
      linear-gradient(45deg, var(--media) 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, var(--media) 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--media);
    outline: 0;
}
  
  
select:-moz-focusring
{
    color: transparent;
    text-shadow: 0 0 0 #000;
}