/*
title + 4 posts
*/

.four-posts
{
    display: grid;
    grid-template-areas: 
    'four-posts-title four-posts-title'
    'four-posts-1 four-posts-3'
    'four-posts-2 four-posts-4';
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap10) var(--gap40);
    margin: var(--gap30) 0;
}

.four-posts .title
{
    grid-area: four-posts-title;
    margin: 0;
}

.four-posts article
{
    display: grid;
    grid-template-columns: 120px 160px;
    grid-template-areas: 
        'four-post-picture four-post-time'
        'four-post-picture four-post-h1';
    gap: 0 var(--gap20);
    border-top: 1px solid var(--border-post);
    padding-top: var(--gap10);
}

.four-posts .picture
{
    grid-area: four-post-picture;

}

.four-posts time 
{
    grid-area: four-post-time;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 20px; */
    letter-spacing: 0;
    color: var(--border);
}

.four-posts h1 
{
    grid-area: four-post-h1;
}

.four-posts h1 a 
{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: var(--strong-link);
    transition: color .5s;
}

.four-posts h1 a:hover
{
    color: var(--media)
}

.four-posts article:nth-of-type(1)
{
    grid-area: four-posts-1;
}

.four-posts article:nth-of-type(2)
{
    grid-area: four-posts-2;
}

.four-posts article:nth-of-type(3)
{
    grid-area: four-posts-3;
}

.four-posts article:nth-of-type(4)
{
    grid-area: four-posts-4;
}