/*
full width post (width image)
*/

.full-posts
{
    margin-top: var(--gap40)
}

.full-posts article
{
    /* display: grid; */
    /* grid-template-columns: 40px 1fr; */
    gap: var(--gap25);
    border-top: 1px solid var(--border-post);
    padding-top: var(--gap15);
    margin-bottom: var(--gap15);

    display: flex;

}

.full-posts time 
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--border);
    margin: 2px 0 0;

    width: 40px;
}

/*
if post contains an image
*/
.full-posts .picture
{
    width: 120px;
    height: 77px;
    padding: 0;
    position: static;
    overflow: visible;
}

.full-posts .picture picture 
{
    position: static;
}

.full-posts .picture picture img
{
    width: 120px;
    height: 77px;
    max-width: none;
}
/*
if post contains an image
*/

.full-posts h1 
{
    display: inline;
    line-height: 20px;
}

.full-posts h1 a
{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
    transition: color .5s;
}

.full-posts h1 a strong 
{
    color: var(--strong-link);
    font-weight: 700;
    font-size: 18px;
    transition: color .5s;
}

.full-posts h1 a:hover,
.full-posts h1 a:hover strong 
{
    color: var(--media);
}