
/* 300 1fr 300 */
#home
{
    padding: var(--gap20) 0;
}

#home .wrapper
{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    gap: var(--gap40);
}



.button
{
    width: 150px;
    height: 40px;

    border: 1px solid #CCD0D980;

    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #4693DD;
}