
/* 300 1fr 300 */
#home-main-column
{
    padding: var(--gap20) 0;

    display: grid;
    grid-template-columns: 300px 1fr 300px;
    gap: var(--gap40);
}

@media(max-width: 1340px)
{
    #home-main-column
    {
        grid-template-columns: 1fr;
    }

    #home-main-center
    {
        order: 1;
    }

    #home-main-left
    {
        order: 2;
    }

    #home-main-right
    {
        order: 3;
    }
}