/*
hot-single-post block - home page, category page
*/
#hot-single-post 
{
    position: relative;
}

#hot-single-post picture
{
    display: block;
    height: 100%;
}

#hot-single-post figure
{
    position: relative;
}

#hot-single-post figure::before
{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
}

#hot-single-post picture img
{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#hot-single-post-data
{
    position: absolute;
    bottom: var(--gap20);
    left: var(--gap20);
    right: var(--gap20);
    color: var(--body);
    z-index: 2;
}

#hot-single-post h1 
{
    margin: 0 0 var(--gap20)
}

@media(max-width:540px)
{
    #hot-single-post h1
    {
        display: inline;
    }
}

#hot-single-post h1 a 
{
    /* font-family: Roboto; */
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--body);
    text-decoration: none;
}

@media(max-width:1340px)
{
    #hot-single-post h1 a 
    {
        /* font-family: Roboto; */
        font-size: 24px;
        line-height: 24px;
        color: var(--body);
    }
}

#hot-single-post time 
{
    /* font-family: Roboto; */
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--body);
}

@media(max-width:540px)
{
    #hot-single-post time
    {
        display: none;
    }
}

#hot-single-post .comment
{
    /* font-family: Roboto; */
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--body);
    margin-left: var(--gap20);
}

@media(max-width:540px)
{
    #hot-single-post .comment
    {
        display: inline;
    }
}

#hot-single-post .comment::before
{
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 0.476807C3.58187 0.476807 0 2.86454 0 5.81014C0 7.40107 1.05067 8.82507 2.70773 9.80214L1.5328 13.5232L5.7552 10.9269C6.46773 11.0656 7.21973 11.1435 7.99947 11.1435C12.4176 11.1435 15.9995 8.75574 15.9995 5.81014C16 2.86454 12.4181 0.476807 8 0.476807Z" fill="white"/%3E%3C/svg%3E');
    display: inline-block;
    width: 16px;
    height: 14px;
    position: relative;
    top: 2px;
    left: -10px;
}

#hot-single-post .view
{
    color: var(--body);
}

#hot-single-post .view::before
{
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.7467 4.67089C15.6059 4.48848 12.2571 0.199951 8 0.199951C3.74293 0.199951 0.3936 4.48848 0.253333 4.67089L0 4.99995L0.253333 5.32902C0.3936 5.51142 3.74293 9.79995 8 9.79995C12.2571 9.79995 15.6059 5.51142 15.7467 5.32902L16 4.99995L15.7467 4.67089ZM8 7.66662C6.52747 7.66662 5.33333 6.47248 5.33333 4.99995C5.33333 3.52742 6.52747 2.33328 8 2.33328C9.47253 2.33328 10.6667 3.52742 10.6667 4.99995C10.6667 6.47248 9.47253 7.66662 8 7.66662Z" fill="%23ffffff"/%3E%3C/svg%3E%0A');
}