/*
hot post right in home page
*/
#hot-posts
{
    /* margin: 0 0 var(--gap20); */
}

#hot-posts article
{
    display: grid;
    grid-template-areas: 
        'hot-posts-picture hot-posts-h1'
        'hot-posts-picture hot-posts-time';
    grid-template-columns: 120px 1fr;
    /* gap: var(--gap10) var(--gap20); */
    gap: 7px var(--gap20);
    align-items: start;
    border-top: 1px solid var(--border-post);
    padding-top: var(--gap15);
    padding-bottom: var(--gap10);
}

@media(max-width:520px)
{
    #hot-posts article
    {
        display: flex;
        flex-direction: column-reverse;
    }
}

#hot-posts article:first-child
{
    border: none;
    padding-top: 0;
}

#hot-posts article .picture,
#hot-posts article .ova-engine-image-preview
{
    grid-area: hot-posts-picture;
}

@media(max-width:520px)
{
    #hot-posts article .picture,
    #hot-posts article .ova-engine-image-preview
    {
        display: none;
    }    
}

#hot-posts h1
{
    grid-area: hot-posts-h1;

    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    top: -3px;

    overflow: hidden;
    max-height: 58px;
}

@media(max-width:1340px)
{
    #hot-posts h1
    {
        position: static;
        height: auto;
        position: static;
    }
}

#hot-posts h1 a 
{
    text-decoration: none;
    font-weight: 700;
    color: var(--strong-link);
    transition: color .5s;
}

#hot-posts h1 a:hover 
{
    color: var(--media);
}

#hot-posts article time 
{
    grid-area: hot-posts-time;

    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--border);
    position: relative;
    top: -3px;
}
