/* колонка, де перший пост півжирний та має картинку */
.hot-post-and-posts article
{
    border-top: 1px solid var(--border-post);
    padding: var(--gap15) 0 var(--gap10);
}

/* .hot-post-and-posts .picture 
{
    margin-bottom: var(--gap10);
} */
.hot-post-and-posts picture 
{
    margin-bottom: var(--gap10);
}

.hot-post-and-posts article time 
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    /* line-height: 20px; */
    line-height: 6px;
    letter-spacing: 0;
    color: var(--border);
    display: block;
    margin: 0 0 var(--gap10);
}

.hot-post-and-posts article h1
{
    display: inline;
    line-height: var(--gap20);
}

.hot-post-and-posts article h1 a
{
    color: var(--black);
    text-decoration: none;
    transition: color .5s;


    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 400;
}

.hot-post-and-posts article:first-of-type
{
    border: none;
    padding: 0 0 var(--gap10);
}

.hot-post-and-posts article:first-of-type h1 a
{
    font-weight: 700;
    font-size: 18px;
    color: var(--strong-link);
    transition: color .5s;
}

.hot-post-and-posts article h1 a:hover,
.hot-post-and-posts article:first-of-type h1 a:hover
{
    color: var(--media);
}