/*
image post aside 
*/

@media(max-width:1100px)
{
    .image-posts
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--gap20) var(--gap30)
    }
}

@media(max-width:776px)
{
    .image-posts
    {
        grid-template-columns: 1fr;
    }
}

.image-posts article
{
    margin: 0 0 var(--gap20);
}

.image-posts article .picture
{
    margin: 0 0 var(--gap10)
}

.image-posts article h1
{
    display: inline;
}

.image-posts article h1 a
{
    color: var(--strong-link);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.image-posts article h1 a:hover 
{
    text-decoration: underline;
}