/*
wide main and narrow sidebar
*/

.main-sidebar 
{
    display: grid;
    grid-template-columns: 980px 300px;
    gap: var(--gap40);
    margin: var(--gap40) auto;
}

.wide-narrow
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap20);
}