/*
long aside posts
*/
.news-posts 
{
    margin: 0 0 var(--gap20)
}

.news-posts article
{
    border-top: 1px solid var(--border-post);
    padding: var(--gap15) 0;
}

.news-posts article time 
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 0;
    color: var(--border);
    display: block;
    margin: 0 0 var(--gap10);
}

.news-posts article h1
{
    display: inline;
    margin-right: var(--gap10);
}

.news-posts article h1 a
{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--black);
    text-decoration: none;
    transition: color .5s;
}

/* @media(max-width:1100px)
{
    .news-posts article h1 a
    {
        
    }
} */

.news-posts article h1 a strong
{
    font-weight: 700;
    font-size: 18px;
    color: var(--strong-link);
    transition: color .5s;
}

@media(max-width:1100px)
{
    .news-posts article h1 a strong
    {
        font-size: 16px;
    }
}

.news-posts article h1 a:hover,
.news-posts article h1 a:hover strong
{
    color: var(--media);
}

.news-posts .view,
.news-posts .comment
{
    margin-left: 0;
}