/*
title + single posts
*/
.one-posts
{
    margin: var(--gap30) 0;
}

.one-posts .title
{
    margin-bottom: var(--gap15);
}

.one-posts article
{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        'four-post-picture four-post-time'
        'four-post-picture four-post-h1';
    gap: 0 var(--gap20);
    grid-template-rows: 25px 1fr;
    border-top: 1px solid var(--border-post);
    padding-top: var(--gap15);
    margin-bottom: var(--gap15);
}

.one-posts .picture
{
    grid-area: four-post-picture;

}

.one-posts time 
{
    grid-area: four-post-time;

    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--border);
}

.one-posts h1 
{
    grid-area: four-post-h1;
    display: flex;
}

.one-posts h1 a 
{
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: var(--strong-link);
    transition: color .5s;
}

.one-posts h1 a:hover
{
    color: var(--media)
}