.pagination
{
    display: block;
    margin: var(--gap30) 0 0;
}

.pagination ul 
{
    display: flex;
    justify-content: center;
}

.pagination li 
{
    display: block;
}

.pagination li a
{
    width: var(--gap40);
    height: var(--gap40);
    line-height: var(--gap40);
    text-align: center;
    border-radius: 50%;
    display: block;
    color: var(--footer);
    text-decoration: none;
    transition: background .5s, color .5s;

    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
}

.pagination li a:hover,
.pagination li a.active
{
    background: var(--media);
    color: var(--body);
}