
:root
{
    --gap5: 5px;
    --gap10: 10px;
    --gap15: 15px;
    --gap20: 20px;
    --gap25: 25px;
    --gap30: 30px;
    --gap40: 40px;
    --gap60: 60px;
    --gap80: 80px;
    --gap100: 100px;
    --border: #999;
    --border-post: #ccc;
    --border-button: #e5e7eb;
    --footer: #2D2E70; 
    --media: #4693DD;
    --body: #fff;
    --strong-link: #293863;
    --black: #000;
    --form: #000000CC;
    --comment: #CCCCCC33;

    --input: #CCD0D9;
    --short: #CCCCCC80;
    --archive: #29386308;
    --search: #e5e5e5;
    --form-bg: #f5f5f5;
    --transparent: #00000033;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
}

.text-center
{
    text-align: center;
}

body,html
{
    height:100%;
    background: var(--body);
}

body.transparent
{
    padding-right: 10px;
}

/* transparent wrapper */
#body-cover
{
    display: none;
    position: absolute;

    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--transparent);
    z-index: 4;
}

body.transparent #body-cover
{
    display: block;
}

img
{    
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@media(max-width:996px)
{
    .hidden-tablet
    {
        display: none!important;
    }
}

.picture
{
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.picture picture
{
    bottom: 0;
    display: block;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.picture,
picture img,
picture source
{
    height: auto;
    width: 100%;
}

.mt0
{
    margin-top: 0!important;
}

.title
{
    /* font-family: Roboto; */
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: var(--footer);
    text-transform: uppercase;
    margin: 0 auto var(--gap20);
}

@media(max-width:996px)
{
    .title
    {
        font-size: 20px;
        line-height: 30px;
    }
}

.title a 
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: var(--footer);
    text-transform: uppercase;    
}

.title a:hover
{
    text-decoration: none;
}

@media(max-width:996px)
{
    .title a
    {
        font-size: 20px;
        line-height: 30px;
    }
}

.wrapper
{
    width: 1320px;
    margin: 0 auto;
}

@media(max-width:1340px)
{
    .wrapper
    {
        width: 95%;
    }
}

/* довелося присрати, через модальну форму відправки новини */
#content
{
    position: relative;
}

body.transparent #content
{
    min-height: calc(100vh - 260px - 100px);

    /* костиль */
    overflow: hidden;
}

@media(max-width:776px)
{   
    body.transparent #content
    {
        min-height: 880px;
    }
}

.button
{
    margin: auto;
    text-align: center;
}

.button a
{
    width: 150px;
    height: var(--gap40);
    line-height: var(--gap40);

    border: 1px solid var(--border-button);

    /* font-family: Ubuntu; */
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: var(--media);

    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    transition: border-color .5s;
}

.button a:hover
{
    border: 1px solid var(--media);
}

.view
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--border);
    /* margin-left: 6px; */
    margin-right: var(--gap10);
    white-space: nowrap;
}

.view::before
{
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.7467 4.67089C15.6059 4.48848 12.2571 0.199951 8 0.199951C3.74293 0.199951 0.3936 4.48848 0.253333 4.67089L0 4.99995L0.253333 5.32902C0.3936 5.51142 3.74293 9.79995 8 9.79995C12.2571 9.79995 15.6059 5.51142 15.7467 5.32902L16 4.99995L15.7467 4.67089ZM8 7.66662C6.52747 7.66662 5.33333 6.47248 5.33333 4.99995C5.33333 3.52742 6.52747 2.33328 8 2.33328C9.47253 2.33328 10.6667 3.52742 10.6667 4.99995C10.6667 6.47248 9.47253 7.66662 8 7.66662Z" fill="%23999999"/%3E%3C/svg%3E%0A');
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-right: 3px;
}

.comment
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--border); 
    /* margin-left: var(--gap10); */
    margin-right: var(--gap10);
    white-space: nowrap; 
}

.comment::before
{
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 0.476807C3.58187 0.476807 0 2.86454 0 5.81014C0 7.40107 1.05067 8.82507 2.70773 9.80214L1.5328 13.5232L5.7552 10.9269C6.46773 11.0656 7.21973 11.1435 7.99947 11.1435C12.4176 11.1435 15.9995 8.75574 15.9995 5.81014C16 2.86454 12.4181 0.476807 8 0.476807Z" fill="%23999999"/%3E%3C/svg%3E');
    display: inline-block;
    width: 16px;
    height: 14px;
    position: relative;
    top: 2px;
    left: -3px;
}

#header
{
    height: 150px;
    border: 1px solid var(--border);
    border-left: none;
    border-right: none;
}

@media(max-width:1340px)
{
    #header
    {
        height: 70px;
    }    
}

#header .wrapper
{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: var(--gap40);
    align-items: center;
}

#logo 
{
    height: 150px;
    display: flex;
    align-items: center;
}

@media(max-width:1340px)
{
    #logo
    {
        margin-right: auto;
        height: 50px;
    }

    #logo img 
    {
        height: 50px;
    }
}

#menu-button
{
    display: none;
}

@media(max-width:1340px)
{
    #menu-button
    {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='%23E7D1BA'/%3E%3Crect width='24' height='2' fill='%232D2E70'/%3E%3Crect y='9' width='24' height='2' fill='%23E7D1BA'/%3E%3Crect y='9' width='24' height='2' fill='%232D2E70'/%3E%3Crect y='18' width='24' height='2' fill='%23E7D1BA'/%3E%3Crect y='18' width='24' height='2' fill='%232D2E70'/%3E%3C/svg%3E");

        width: 24px;
        height: 20px;
        position: absolute;
        top: calc(50% - 10px);
        right: 0;
        z-index: 1;
        display: block;
    }
    
    #menu-button.active
    {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='%23E7D1BA'/%3E%3Crect width='24' height='2' fill='%234693DD'/%3E%3Crect y='9' width='24' height='2' fill='%23E7D1BA'/%3E%3Crect y='9' width='24' height='2' fill='%234693DD'/%3E%3Crect y='18' width='24' height='2' fill='%23E7D1BA'/%3E%3Crect y='18' width='24' height='2' fill='%234693DD'/%3E%3C/svg%3E");

    }
}

#menu 
{
    display: grid;
    gap: var(--gap20);
    grid-template-areas: 
        'menu-time menu-feedback menu-feedback'
        'menu-nav menu-nav menu-social';
}

@media(max-width:1340px)
{
    #menu 
    {
        grid-template-areas: 
            'menu-nav'
            'menu-feedback'
            'menu-social';
    }    
}

@media(max-width:1340px)
{
    #header .wrapper
    {
        position: relative;
        cursor: pointer;
        display: flex;
    }

    #menu 
    {
        visibility: hidden;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 5;
        background: var(--media);
        padding: var(--gap30) var(--gap20);
    }
    
    #menu.active
    {
        visibility: visible;
    }

}

#menu time 
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black);
    grid-area: menu-time;
}

@media(max-width:1340px)
{
    #menu time 
    {
        display: none;
    }    
}

#feedback
{
    grid-area: menu-feedback;

    display: flex;
    justify-content: flex-end;
}

@media(max-width:1340px)
{
    #feedback
    {
        justify-content: flex-start;
    }    
}

@media(max-width:540px)
{
    #feedback
    {
        flex-direction: column-reverse;
    }   
}

#feedback li
{
    display: block;
    margin-left: var(--gap20);
}

@media(max-width:1340px)
{
    #feedback li
    {
        margin: 0 var(--gap20) 0 0;
    }    
}

#feedback a,
#feedback span
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--footer);
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width:1340px)
{
    #feedback a,
    #feedback span
    {
        color: var(--body)
    }
}

@media(max-width:540px)
{
    #feedback a,
    #feedback span
    {
        display: block;
        padding: var(--gap10)
    }
}

#feedback a:hover,
#feedback span:hover 
{
    text-decoration: none;
}

#feedback .enter a 
{
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--media);
}

@media(max-width:1340px)
{
    #feedback .enter
    {
        order: -1;
    }

    #feedback .enter a 
    {
        color: var(--body);
        text-align: left;
    }
}

#menu nav 
{
    display: grid;
    gap: var(--gap20);
    grid-area: menu-nav;
}

#primary
{
    display: flex;
    flex-wrap: wrap;
}

#primary li 
{
    display: block;
    margin-right: var(--gap30);
}

@media(max-width:540px)
{
    #primary li 
    {
        width: 50%;
        margin: 0;
    }
}

#primary li a
{
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    transition: color .5s;
}

@media(max-width:1100px)
{
    #primary li a
    {
        display: block;
        padding: var(--gap10);
    }
}

#primary li a:hover,
#primary li a.active
{
    color: var(--media);
}

@media(max-width:1340px)
{
    #primary li a,
    #primary li a:hover,
    #primary li a.active
    {
        color: var(--body)
    }
}

#secondary
{
    display: flex;
    flex-wrap: wrap;
}

#secondary li 
{
    display: block;
    margin-right: var(--gap20);
}

@media(max-width:540px)
{
    #secondary li 
    {
        width: 50%;
    }
}

#secondary li a
{
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--black);
    text-decoration: none;
}

@media(max-width:540px)
{
    #secondary li a
    {
        display: block;
        padding: var(--gap10);
    }
}

#secondary li a:hover 
{
    text-decoration: underline;
}

@media(max-width:1340px)
{
    #secondary li a,
    #secondary li a:hover 
    {
        color: var(--body)
    }    
}

#social-nav 
{
    grid-area: menu-social;

    display: flex;
    justify-content: flex-end;
}

@media(max-width:1340px)
{
    #social-nav 
    {
        justify-content: center;
    }    
}

#social-nav li 
{
    display: block;
    margin-left: var(--gap20);
}

#social-nav a 
{
    text-decoration: none;
}

.facebook
{
    width: 11px;
    height: 20px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.44875 3.8075H10.0262V0H6.995V0.0150013C3.3275 0.143751 2.5725 2.20875 2.50625 4.375H2.49875V6.275H0V10.0063H2.49875V20H6.26625V10.0063H9.35375L9.94875 6.275H6.2675V5.12625C6.26875 4.395 6.75625 3.8075 7.44875 3.8075Z' fill='%232D2E70'/%3E%3C/svg%3E%0A");
}

.instagram 
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_653)'%3E%3Cpath d='M1 7.18691V12.6002C1 13.648 1.09921 14.5856 1.31548 15.4149C1.60643 16.5241 2.36223 17.5308 3.31201 18.1271C4.38552 18.8005 5.79792 19 7.18691 19H11.9335C14.5789 19 16.1696 18.8105 17.5308 17.4627C18.9944 16.0147 18.9989 13.7495 18.9989 11.7931V7.86134C18.9766 6.69753 18.9186 5.60061 18.7793 4.94513C18.3702 3.01548 17.0949 1.72905 15.2232 1.26085C14.57 1.09587 13.4641 1.02675 12.2836 1H8.24147C7.6618 1 7.17019 1.03567 6.62396 1.03456C5.71208 1.03344 4.58729 1.20623 3.81142 1.5964C3.28971 1.86171 2.74571 2.19391 2.37561 2.65876C2.06348 3.04893 1.95423 3.0924 1.67777 3.64867C1.3623 4.28519 1.21069 4.86487 1.10702 5.6073C1.0379 6.09222 1 6.64402 1 7.18691Z' stroke='%232D2E70' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M13.8566 9.99711C13.8566 9.71834 13.8065 9.38242 13.7517 9.13865C13.6187 8.55779 13.3411 7.97576 12.9574 7.5372C11.9414 6.37548 10.4018 5.80046 8.77703 6.34982C8.4621 6.45596 8.0527 6.65425 7.80543 6.83737C7.16858 7.30976 6.85249 7.69467 6.49441 8.41899C6.12467 9.17014 6.09434 10.0589 6.25297 10.8521C6.32179 11.1915 6.49791 11.6242 6.65304 11.8832C6.93997 12.3672 7.22107 12.6833 7.6573 13.0414C8.38046 13.6386 9.45936 13.9173 10.4345 13.8194C11.0153 13.7622 11.5717 13.5429 12.0359 13.2607L12.4616 12.9551C13.011 12.4605 13.3842 11.9928 13.6409 11.2416C13.7563 10.9069 13.8566 10.4298 13.8566 9.99711Z' stroke='%232D2E70' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M14.4678 4.54312V4.68776C14.4678 5.13215 14.8667 5.53105 15.3111 5.53105C15.731 5.53105 16.0506 5.34676 16.1999 4.96769C16.4821 4.25153 15.7601 3.50971 15.0288 3.79664C14.8818 3.85612 14.7605 3.9611 14.6637 4.07074C14.5786 4.16522 14.4678 4.37633 14.4678 4.54312Z' stroke='%232D2E70' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_653'%3E%3Crect width='19.9988' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.youtube
{
    width: 18px;
    height: 16px;
    display: inline-block;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='18' viewBox='0 0 576 512' fill='%232D2E70'%3E%3Cpath d='M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z'/%3E%3C/svg%3E");
    margin: 2px 0 0
}

.search 
{
    width: 16px;
    height: 16px;
    display: inline-block; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='%232D2E70'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
}

@media(max-width:1340px)
{

    .facebook
    {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.44875 3.8075H10.0262V0H6.995V0.0150013C3.3275 0.143751 2.5725 2.20875 2.50625 4.375H2.49875V6.275H0V10.0063H2.49875V20H6.26625V10.0063H9.35375L9.94875 6.275H6.2675V5.12625C6.26875 4.395 6.75625 3.8075 7.44875 3.8075Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    }
    
    .instagram 
    {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_653)'%3E%3Cpath d='M1 7.18691V12.6002C1 13.648 1.09921 14.5856 1.31548 15.4149C1.60643 16.5241 2.36223 17.5308 3.31201 18.1271C4.38552 18.8005 5.79792 19 7.18691 19H11.9335C14.5789 19 16.1696 18.8105 17.5308 17.4627C18.9944 16.0147 18.9989 13.7495 18.9989 11.7931V7.86134C18.9766 6.69753 18.9186 5.60061 18.7793 4.94513C18.3702 3.01548 17.0949 1.72905 15.2232 1.26085C14.57 1.09587 13.4641 1.02675 12.2836 1H8.24147C7.6618 1 7.17019 1.03567 6.62396 1.03456C5.71208 1.03344 4.58729 1.20623 3.81142 1.5964C3.28971 1.86171 2.74571 2.19391 2.37561 2.65876C2.06348 3.04893 1.95423 3.0924 1.67777 3.64867C1.3623 4.28519 1.21069 4.86487 1.10702 5.6073C1.0379 6.09222 1 6.64402 1 7.18691Z' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M13.8566 9.99711C13.8566 9.71834 13.8065 9.38242 13.7517 9.13865C13.6187 8.55779 13.3411 7.97576 12.9574 7.5372C11.9414 6.37548 10.4018 5.80046 8.77703 6.34982C8.4621 6.45596 8.0527 6.65425 7.80543 6.83737C7.16858 7.30976 6.85249 7.69467 6.49441 8.41899C6.12467 9.17014 6.09434 10.0589 6.25297 10.8521C6.32179 11.1915 6.49791 11.6242 6.65304 11.8832C6.93997 12.3672 7.22107 12.6833 7.6573 13.0414C8.38046 13.6386 9.45936 13.9173 10.4345 13.8194C11.0153 13.7622 11.5717 13.5429 12.0359 13.2607L12.4616 12.9551C13.011 12.4605 13.3842 11.9928 13.6409 11.2416C13.7563 10.9069 13.8566 10.4298 13.8566 9.99711Z' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M14.4678 4.54312V4.68776C14.4678 5.13215 14.8667 5.53105 15.3111 5.53105C15.731 5.53105 16.0506 5.34676 16.1999 4.96769C16.4821 4.25153 15.7601 3.50971 15.0288 3.79664C14.8818 3.85612 14.7605 3.9611 14.6637 4.07074C14.5786 4.16522 14.4678 4.37633 14.4678 4.54312Z' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_653'%3E%3Crect width='19.9988' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    
    .youtube
    {   
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='18' viewBox='0 0 576 512' fill='%23ffffff'%3E%3Cpath d='M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z'/%3E%3C/svg%3E");
        margin: 2px 0 0
    }
    
    .search 
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='%23ffffff'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
    }
}

main h1
{
    /* font-family: Ubuntu; */
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 var(--gap20)
}

@media(max-width:540px)
{
    main h1
    {
        font-size: 30px;
        line-height: 30px;
    }
}

.service
{
    display: flex;
    align-items: flex-start;
    gap: var(--gap10);
    margin: var(--gap20) 0;
    font-size: 15px;
}


/*
    todo: перевірити де використовується крім 
    article.html
    advertisment-details.html
*/
#main-content
{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap20);
    margin-top: var(--gap30);
}

@media(max-width:996px)
{
    #main-content
    {
        grid-template-columns: 1fr;
    }    
}

#main-content h2 
{
    margin: 0 0 var(--gap20);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

@media(max-width:540px)
{
    #main-content h2 
    {
        font-size: 21px;
    }    
}

#main-content p 
{
    /* font-family: Roboto; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 var(--gap20);
}

#main-content a
{
    color: var(--media);
    text-decoration: underline;
}

#main-content a:hover
{
    text-decoration: none;
}

/**/
.share 
{
    display: flex;
    align-items: flex-start;
    gap: var(--gap10)
}

@media(max-width:996px)
{
    .share 
    {
        justify-content: center;
    }
}

.share li 
{
    display: block;
}

.share-facebook,
.share-telegram,
.share-twitter
{
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;    
}

.share-facebook
{

    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 25C5 13.9543 13.9543 5 25 5C36.0457 5 45 13.9543 45 25C45 36.0457 36.0457 45 25 45C13.9543 45 5 36.0457 5 25Z' fill='%234693DD'/%3E%3Cpath d='M26.959 20.046H29.021V17H26.596V17.012C23.662 17.115 23.058 18.767 23.005 20.5H22.999V22.02H21V25.005H22.999V33H26.013V25.005H28.483L28.959 22.02H26.014V21.101C26.015 20.516 26.405 20.046 26.959 20.046Z' fill='white'/%3E%3C/svg%3E");
}

.share-twitter
{
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 45C36.0457 45 45 36.0457 45 25C45 13.9543 36.0457 5 25 5C13.9543 5 5 13.9543 5 25C5 36.0457 13.9543 45 25 45Z' fill='%234693DD'/%3E%3Cpath d='M33 19.5559C33 19.5769 33 19.5989 33 19.6199C32.577 20.1329 32.172 20.6659 31.631 21.0659C31.447 21.2019 31.384 21.3669 31.382 21.5889C31.375 22.4739 31.272 23.3489 31.018 24.1969C30.1 27.2569 28.222 29.4479 25.193 30.5869C24.485 30.8529 23.741 30.9639 23.002 31.1019C22.314 31.1019 21.626 31.1019 20.938 31.1019C20.844 31.0809 20.751 31.0549 20.656 31.0409C19.44 30.8659 18.297 30.4769 17.236 29.8559C17.15 29.8059 17.03 29.7839 17 29.6199C18.696 29.7559 20.234 29.3579 21.62 28.3359C21.471 28.2189 21.326 28.2339 21.195 28.2039C20.096 27.9579 19.293 27.3359 18.808 26.3159C18.662 26.0079 18.699 25.9669 19.033 25.9859C19.327 26.0029 19.621 26.0189 19.922 25.9099C19.835 25.7989 19.732 25.7939 19.645 25.7579C18.445 25.2569 17.739 24.3639 17.531 23.0819C17.462 22.6559 17.517 22.6239 17.908 22.7729C18.181 22.8769 18.454 23.0049 18.762 22.9399C18.759 22.8239 18.68 22.7939 18.628 22.7449C17.565 21.7609 17.243 20.2969 17.8 18.9689C17.956 18.5959 17.98 18.5919 18.25 18.8879C19.912 20.7139 21.957 21.7789 24.426 22.0209C24.725 22.0499 24.768 21.9539 24.744 21.6909C24.711 21.3389 24.71 20.9829 24.784 20.6319C25.306 18.1739 28.246 17.1659 30.183 18.7919C30.414 18.9859 30.611 19.0249 30.881 18.9379C31.342 18.7899 31.799 18.6329 32.23 18.4089C32.303 18.3709 32.388 18.2799 32.461 18.3429C32.553 18.4229 32.457 18.5229 32.421 18.6049C32.235 19.0359 31.958 19.4009 31.61 19.7159C31.528 19.7899 31.405 19.8349 31.383 19.9969C31.962 19.9549 32.474 19.7299 33 19.5559Z' fill='white'/%3E%3C/svg%3E");
}

.share-telegram
{
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 25C5 13.9543 13.9543 5 25 5C36.0457 5 45 13.9543 45 25C45 36.0457 36.0457 45 25 45C13.9543 45 5 36.0457 5 25Z' fill='%234693DD'/%3E%3Cpath d='M17.9794 23.9102C17.9794 23.9102 25.0554 20.9282 27.5104 19.8842C28.4494 19.4632 31.6414 18.1192 31.6414 18.1192C31.6414 18.1192 33.1134 17.5332 32.9934 18.9602C32.9564 19.5462 32.6254 21.6042 32.2944 23.8272C31.8064 26.9742 31.2734 30.4142 31.2734 30.4142C31.2734 30.4142 31.1904 31.3832 30.4994 31.5492C29.8004 31.7142 28.6594 30.9632 28.4564 30.7902C28.2914 30.6632 25.3924 28.7772 24.3254 27.8532C24.0404 27.5982 23.7094 27.0942 24.3624 26.5082C25.8344 25.1262 27.5924 23.3982 28.6584 22.3102C29.1464 21.8072 29.6424 20.6272 27.5914 22.0552C24.6854 24.1132 21.8234 26.0432 21.8234 26.0432C21.8234 26.0432 21.1704 26.4642 19.9454 26.0882C18.7204 25.7132 17.2864 25.2092 17.2864 25.2092C17.2864 25.2092 16.3034 24.5862 17.9794 23.9102Z' fill='white'/%3E%3C/svg%3E");
}

/* опис реклами у синьому блоці */
.description
{
    background: var(--media);
    color: var(--body);
    margin: var(--gap20) 0;
    padding: var(--gap40);
    display: flex;
    flex-direction: column;
    gap: var(--gap20);
}

@media(max-width:540px)
{
    .description
    {
        background: transparent;
        color: var(--black);
        padding: 0;
    }
}

.description ul 
{
    display: block;
}

.description li 
{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap20)
}

@media(max-width:540px)
{
    .description li 
    {
        display: block;
    }
}

.description a
{
    color: var(--body)!important;
    text-decoration: underline;
}

@media(max-width:540px)
{
    .description a
    {
        color: var(--media)!important;
    }    
}

.description a:hover 
{
    text-decoration: none;
}

.tags
{
    display: flex;
    /* gap: var(--gap10); */
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;
}

.tags::before
{
    content: 'Теги:';
    margin-right: var(--gap10);
}

.tags li 
{
    display: block;
}

.tags a 
{
    display: inline-block;
    background-color: var(--media);
    color: var(--body)!important;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 5px 7px;
    text-decoration: none!important;
    font-weight: 700;
}

#footer
{
    background: var(--footer);
    min-height: 300px;
    padding: 70px 0 var(--gap20);
    color: var(--body);
}

#footer .wrapper 
{
    display: grid;
    grid-template-columns: 300px 640px 1fr;
    gap: var(--gap40);
    align-items: start;

    /* font-family: Ubuntu; */
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media(max-width:1340px)
{
    #footer .wrapper 
    {
        grid-template-columns: 1fr;
    }    
}

#copyright p 
{
    margin: 0 0 var(--gap10)
}

#copyright a
{
    color: var(--body);
    text-decoration: underline;
}

#copyright a:hover
{
    text-decoration: none;
}

#footer ul,
#footer li
{
    display: block;
}

#footer li 
{
    margin: 0 0 var(--gap20)
}

#footer li a
{
    color: var(--body);
    text-decoration: underline;    
}

#footer li a:hover 
{
    text-decoration: none;
}

#footer ul p 
{
    display: flex;
    align-items: center;
    gap: var(--gap10)
}

#footer .instagram 
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.18691V12.6002C1 13.648 1.09921 14.5856 1.31548 15.4149C1.60643 16.5241 2.36223 17.5308 3.31201 18.1271C4.38552 18.8005 5.79792 19 7.18691 19H11.9335C14.5789 19 16.1696 18.8105 17.5308 17.4627C18.9944 16.0147 18.9989 13.7495 18.9989 11.7931V7.86134C18.9766 6.69753 18.9186 5.60061 18.7793 4.94513C18.3702 3.01548 17.0949 1.72905 15.2232 1.26085C14.57 1.09587 13.4641 1.02675 12.2836 1H8.24147C7.6618 1 7.17019 1.03567 6.62396 1.03456C5.71208 1.03344 4.58729 1.20623 3.81142 1.5964C3.28971 1.86171 2.74571 2.19391 2.37561 2.65876C2.06348 3.04893 1.95423 3.0924 1.67777 3.64867C1.3623 4.28519 1.21069 4.86487 1.10702 5.6073C1.0379 6.09222 1 6.64402 1 7.18691Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M13.8566 9.99711C13.8566 9.71834 13.8065 9.38242 13.7517 9.13865C13.6187 8.55779 13.3411 7.97576 12.9574 7.5372C11.9414 6.37548 10.4018 5.80046 8.77703 6.34982C8.4621 6.45596 8.0527 6.65425 7.80543 6.83737C7.16858 7.30976 6.85249 7.69467 6.49441 8.41899C6.12467 9.17014 6.09434 10.0589 6.25297 10.8521C6.32179 11.1915 6.49791 11.6242 6.65304 11.8832C6.93997 12.3672 7.22107 12.6833 7.6573 13.0414C8.38046 13.6386 9.45936 13.9173 10.4345 13.8194C11.0153 13.7622 11.5717 13.5429 12.0359 13.2607L12.4616 12.9551C13.011 12.4605 13.3842 11.9928 13.6409 11.2416C13.7563 10.9069 13.8566 10.4298 13.8566 9.99711Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M14.4678 4.54312V4.68776C14.4678 5.13215 14.8667 5.53105 15.3111 5.53105C15.731 5.53105 16.0506 5.34676 16.1999 4.96769C16.4821 4.25153 15.7601 3.50971 15.0288 3.79664C14.8818 3.85612 14.7605 3.9611 14.6637 4.07074C14.5786 4.16522 14.4678 4.37633 14.4678 4.54312Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}

#footer .facebook
{
    display: inline-block;
    width: 11px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.44875 3.8075H10.0262V0H6.995V0.0150013C3.3275 0.143751 2.5725 2.20875 2.50625 4.375H2.49875V6.275H0V10.0063H2.49875V20H6.26625V10.0063H9.35375L9.94875 6.275H6.2675V5.12625C6.26875 4.395 6.75625 3.8075 7.44875 3.8075Z' fill='white'/%3E%3C/svg%3E");
}

#footer .youtube
{
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88961 0.00593962C11.1496 0.00593962 12.4108 -0.0103081 13.6708 0.0109416C15.0195 0.0334412 16.3707 0.0509403 17.7145 0.207188C18.2045 0.264687 18.5832 0.515932 18.8832 0.893425C19.4007 1.54591 19.5894 2.32965 19.7407 3.12213C19.9182 4.05087 19.9907 4.99335 19.9919 5.93834C19.9932 7.05707 20.0282 8.17705 19.9419 9.29453C19.8669 10.2708 19.7357 11.237 19.4032 12.167C19.0057 13.2795 18.2345 13.8019 17.0445 13.8694C13.382 14.0782 9.71961 13.9982 6.05593 13.9919C4.8322 13.9894 3.60597 13.9207 2.38599 13.8007C1.66225 13.7307 1.17851 13.2945 0.837268 12.6845C0.437275 11.9695 0.297279 11.1745 0.176031 10.3795C-0.0852146 8.65704 0.0135333 6.92082 0.0422828 5.1921C0.0585325 4.24462 0.15853 3.29088 0.421025 2.36715C0.527274 1.99091 0.687271 1.63716 0.858518 1.28592C1.23601 0.508431 1.89725 0.219687 2.70974 0.155938C5.09844 -0.0315587 7.49465 0.00468964 9.88961 0.00593962Z' fill='white'/%3E%3Cpath d='M8.03125 10.6259L13.6586 7.00473L8.03125 3.38354V10.6259Z' fill='%232D2E70'/%3E%3C/svg%3E");
}

hr
{
    border: none;
    border-top: 1px solid var(--border);
    margin: var(--gap20) 0;
}