/*
header search and search page
*/
#search-form
{
    display: grid;
    grid-template-columns: calc(100% - 300px - var(--gap40)) 300px;
    gap: var(--gap40);
    margin: 0 0 var(--gap40)
}

@media(max-width:1100px)
{
    #search-form
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:776px)
{
    #search-form
    {
        grid-template-columns: 100%;
        gap: var(--gap20);
        margin: 0 0 var(--gap30);
    }
}

#search-form [type="submit"]
{
    width: 300px;
}

@media(max-width:776px)
{
    #search-form [type="submit"]
    {
        width: 100%;
    }
}

#search-result > ul,
#search-result > ul > li
{
    display: block;
}

#search-result > ul > li a 
{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: var(--black);
    display: block;
    margin: 0 0 var(--gap20);
    padding: var(--gap20) 0 0;
    border-top: 1px solid var(--search);
}

#search-result > ul > li a:hover 
{
    text-decoration: underline;
}

/*
форма пошуку, яка розтягується і затіняє body
*/

/* обгортка для позиціонування  */
#form-modal-wrapper
{
    position: relative;
}

#form-modal
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 300px - var(--gap40));
    height: 150px;
}

@media(max-width:1100px)
{
    #form-modal
    {
        width: 100%;
    }
}

#form-modal.active
{
    width: 100%;
    background: var(--form-bg);
    height: 300px;
    padding: 80px 100px;
    z-index: 5;
}

@media(max-width:540px)
{
    #form-modal.active
    {
        width: 107.5%;
        padding: 10px 20px;
        left: -2.5%;
        height: 200px;
    }
}

/* розпорка */
.form-modal
{
    height: 150px;
}

@media(max-width:776px)
{
    .form-modal
    {
        height: 175px;
    }
}

#form-close
{
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2 2L21.9996 21.9996" stroke="%23CCD0D9" stroke-width="3" stroke-linecap="round"/%3E%3Cpath d="M2 22L21.9996 2.00037" stroke="%23CCD0D9" stroke-width="3" stroke-linecap="round"/%3E%3C/svg%3E');
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
}

@media(max-width:540px)
{
    #form-close
    {
        top: 15px;
        right: 15px;
    }
}

body.transparent #form-close
{
    display: block;
}