/*
title + 2 posts
*/
.two-posts
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        'two-posts-title two-posts-title'
        'two-posts-1 two-posts-3'
        'two-posts-2 two-posts-4';
    gap: var(--gap10) var(--gap40);
    margin: var(--gap30) 0;
}

@media(max-width:996px)
{
    .two-posts
    {
        grid-template-areas: 
            'two-posts-title'
            'two-posts-1'
            'two-posts-3'
            'two-posts-2'
            'two-posts-4';
        grid-template-columns: 1fr;
    }
}

.two-posts .title
{
    grid-area: two-posts-title;
    margin: 0;
}

.two-posts article
{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        'four-post-picture four-post-time'
        'four-post-picture four-post-h1';
    gap: 0 var(--gap20);
    grid-template-rows: 25px 1fr;
    border-top: 1px solid var(--border-post);
    padding-top: var(--gap15);
}

/* .two-posts .picture
{
    grid-area: four-post-picture;

} */
.two-posts picture
{
    grid-area: four-post-picture;

}

.two-posts time 
{
    grid-area: four-post-time;

    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--border);
    line-height: .9;
}

.two-posts h1 
{
    grid-area: four-post-h1;
    display: flex;
}

.two-posts h1 a 
{
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: var(--strong-link);
    transition: color .5s;
}

.two-posts h1 a:hover
{
    color: var(--media)
}

.two-posts article:nth-of-type(1)
{
    grid-area: two-posts-1;
}

.two-posts article:nth-of-type(2)
{
    grid-area: two-posts-2;
}

.two-posts article:nth-of-type(3)
{
    grid-area: two-posts-3;
}

.two-posts article:nth-of-type(4)
{
    grid-area: two-posts-4;
}