/*
todo: checkbox, radio 
*/

.vote
{
    background: var(--media);
    padding: var(--gap40) var(--gap100);
}

.vote label 
{
    display: block;
    margin: 0 0 var(--gap20);
}

.vote [type="submit"]
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    background: var(--footer);
    color: var(--body);
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
}

/* 
result
*/

.vote-result
{
    background: var(--media);
    padding: var(--gap40) var(--gap80);
    display: block;
}

.vote-result li 
{
    display: grid;
    grid-template-areas: 
        'vote-p vote-p'
        'vote-progress vote-label';
    grid-template-columns: 1fr 180px;
    gap: var(--gap30);
    margin: 0 0 var(--gap30);
    align-items: center;
}

.vote-result p 
{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: var(--body);
    display: block;
    /* margin: 0 0 var(--gap20); */

    grid-area: vote-p;
}

.vote-result progress 
{
    display: block;
    border-radius: 0;
    width: 100%;
    height: 22px;

    grid-area: vote-progress;
}

.vote-result progress::-webkit-progress-bar
{
    background: var(--footer);
}

.vote-result progress::-moz-progress-bar
{
    background: var(--footer);
}

.vote-result progress::-webkit-progress-value
{
    background: var(--body);
}

.vote-result label 
{
    grid-area: vote-label;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--body);
}

.vote-result label strong 
{
    font-size: 30px;
    font-weight: 700;
}

.vote-result-all
{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--body);
}