/*
todo: checkbox, radio 
*/

.vote
{
    background: var(--media);
    padding: var(--gap40) var(--gap100);
}

.vote label 
{
    display: block;
    margin: 0 0 var(--gap20);
}

.vote [type="submit"]
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    background: var(--footer);
    color: var(--body);
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
}

/* 
result
*/

.vote-result
{
    background: var(--media);
    padding: var(--gap40) var(--gap80);    
}

progress
{
    width: 100%;
    height: 20px;
    border-radius: 0;

    position: relative;
}

progress::before
{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 20px;
    background: var(--footer);
}

progress::after
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 70%;
    height: 20px;
    background: var(--body);
    z-index: 2;
}